<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="../../assets/logo.webp" type="image/icon png">   
    <title>
        <%= profiledata.name %>
    </title>
</head>

<body class="bg-primary text-white">
    <div id="content" class="d-none">
        <header class="customnavbar d-flex bg-tertiary justify-content-between align-items-center" id="customnavbar">
            <div class="px-lg-5 px-md-5 px-3 d-flex align-items-center gap-3">
                <div style="position: relative;">
                    <img src="../../assets/profile.webp" alt="profile" height="50px" width="50px"
                    style="border-radius: 50%;background-color: #FFD395;">
                    <div style="position: absolute;right: -5px;bottom: -3px;">
                        <label class="bg-secondary" for="profilepic" style="padding: 3px;color: black;"><i class=" fa fa-pen "></i></label>
                        <input type="file" name="profilepic" id="profilepic" onchange="uploadProfile(this)" hidden>
                    </div>
                </div>
                <a class="text-black logo" href="#" style="font-size: 1rem;font-weight: 700;">
                    <input type="text" class=" bg-primary text-black" style="width: 100px;height: auto;"
                        onchange="updatePortfolioName(this)" value="<%= profiledata.name %>">
                </a>
                <!-- <svg stroke="currentColor" style="color: #101827;" title="nightmode" fill="currentColor" id="nightmode" onclick="changeMode()" stroke-width="0" viewBox="0 0 16 16" class="hidden md:block text-purple-700 cursor-pointer" height="24.8" width="21" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
                    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
                </svg>    -->
                <label class="ui-switch text-black" onchange="changeMode()">
                    <input type="checkbox">
                    <div class="slider">
                        <div class="circle"></div>
                    </div>
                </label>
            </div>
            <div class="px-lg-5 px-md-5 px-3  d-lg-flex d-md-flex align-items-center gap-5 d-none">
                <a class="text-black " href="#" style="font-size: 0.9rem;font-weight: 700;">HOMEPAGE</a>
                <a class="text-black " href="/admin/dashboard/mails" style="font-size: 0.9rem;font-weight: 700;">MAILS</a>
                <!-- <a class="text-black " href="#PROJECTS" style="font-size: 0.9rem;font-weight: 700;">PROJECTS</a>
                <a class="text-black " href="#LINKS" style="font-size: 0.9rem;font-weight: 700;">LINKS</a> -->
                <a class="text-black " href="/logout" style="font-size: 0.9rem;font-weight: 700;">LOGOUT <i class="fa-solid fa-right-from-bracket"></i></a>

            </div>

            <div class="px-lg-5 px-md-5 px-3 d-lg-none d-md-none d-sm-block align-items-center"
                style="font-size: 1.5rem;font-weight: 700;">

                <i class="fa-solid fa-bars text-black" id="bars" onclick="showNav()"></i>
                <i class="fa-solid fa-times text-black" id="times" onclick="closeNav()" style="display: none;"></i>
            </div>

        </header>

        <div class="smallnav bg-tertiary flex-column d-none" id="smallnav">
            <hr class="bg-primary m-0">
            <div class="py-3 w-100 px-lg-5 px-md-5 px-3 d-flex justify-content-end" onclick="closeNav()"><a
                    class="text-end text-black" href="#"
                    style="font-size: 0.9rem;font-weight: 700;width: 100%;">HOMEPAGE</a></div>
            <hr class="bg-primary m-0">
            <div class="py-3 w-100 px-lg-5 px-md-5 px-3 d-flex justify-content-end" onclick="closeNav()"><a
                    class="text-end text-black"  href="/admin/dashboard/mails" 
                    style="font-size: 0.9rem;font-weight: 700;width: 100%;">MAILS</a></div>
            <hr class="bg-primary m-0">
            <!-- <div class="py-3 w-100 px-lg-5 px-md-5 px-3 d-flex justify-content-end" onclick="closeNav()"><a
                    class="text-end text-black" href="#PROJECTS"
                    style="font-size: 0.9rem;font-weight: 700;width: 100%;">PROJECTS</a></div>
            <hr class="bg-primary m-0">
            <div class="py-3 w-100 px-lg-5 px-md-5 px-3 d-flex justify-content-end" onclick="closeNav()"><a
                    class="text-end text-black" href="#LINKS"
                    style="font-size: 0.9rem;font-weight: 700;width: 100%;">LINKS</a>
            </div> -->
            <hr class="bg-primary m-0">
            <div class="py-3 w-100 px-lg-5 px-md-5 px-3 d-flex justify-content-end" onclick="closeNav()">
                <a class="text-end text-black" href="/logout" style="font-size: 0.9rem;font-weight: 700;width: 100%;">LOGOUT <i class="fa-solid fa-right-from-bracket"></i></a>
            </div>

        </div>
        <section id="home" class="section1 d-flex text-center align-items-center justify-content-center"
            style="min-height: 100vh;">
            <div class="col-lg-8 col-12 px-md-5 px-lg-5 px-3">
                <h1 class="my-5 text-black" style="text-transform: uppercase;font-weight: 700;"><textarea
                        class="w-100 text-center bg-tertiary text-black" onchange="updateHomepageHeading(this)"
                        type="text"><%= profiledata.homepage_heading %> </textarea></h1>
                <div class="my-5" style="font-size: 1.25rem;"><textarea
                        class="w-100 text-center  bg-tertiary text-black" onchange="updateHomepageDescription(this)"
                        rows="3"><%= profiledata.homepage_description %></textarea></div>
                <div class="text-center"><a href="#projects" class="btn text-tertiary btn-lg bg-secondary px-5 py-3"
                        style="font-weight: 700;box-shadow: 0 4px 8px rgba(255, 211, 149, 0.4);">PROJECTS</a>
                </div>
        </section>
        <section class="section2 bg-tertiary d-flex flex-column align-items-center" id="about"
            style="min-height: 100vh;">
            <div class="col-lg-8 col-12 px-md-5 px-lg-5 px-3" style="margin-top: 10vh;">
                <h1 class="my-3 text-center text-black" style="text-transform: uppercase;font-weight: 700;">ABOUT ME
                </h1>
                <div class="d-flex justify-content-around">
                    <div style="border: 6px solid #FFD395;width: 50px;border-radius: 10px;"></div>
                </div>
                <div class="my-3 text-center w-100" style="font-size: 1.25rem;"><textarea
                        class="w-100 text-center  bg-primary text-black" onchange="updateAboutpageDescription(this)"
                        rows="3"><%= profiledata.aboutpage_description  %></textarea></div>
            </div>
            <div
                class="container d-flex flex-lg-row flex-sm-column flex-column  w-100 my-5 px-lg-5 px-md-5 px-3 justify-content-between" id="moreabout">
                <div class="col-lg-5">
                    <h4 style="font-weight: 700;" class="my-5 text-black">Discover More About Me!</h4>
                    <div style="text-align: justify;">
                        <%var counter=0;%>
                            <% profiledata.about.forEach(function(about){ %>
                                <div class="d-flex align-items-center"><textarea class="flex-grow-1 bg-primary text-black"
                                    onchange="updateAbout('<%=counter%>',this)" rows="3"><%=about%> </textarea>
                                    <span class="px-2 fa-solid fa-trash"
                                            onclick="removeAboutParagraph('<%=counter%>');"></span></div>
                                            <br>
                                <%counter++;%>
                                    <% }); %>
                                    
                    </div>
                    <div class="my-5 d-flex justify-content-around"><button onclick="addNewAboutParagraph()"
                            class="btn col-lg-8 col-md-8 col-sm-10 col-12 text-tertiary btn-lg bg-secondary px-4 py-2"
                            style="font-weight: 700;box-shadow: 0 4px 8px rgba(255, 211, 149, 0.4);">Add One More
                            Paragraph</button>
                    </div>
                </div>
                <div class="col-lg-5" id="skills">
                    <h4 style="font-weight: 700; " class="my-5 text-black">My Skills</h4>
                    <div class="d-flex flex-wrap w-100 gap-3">
                        <%var counter=0;%>
                            <% profiledata.skills.forEach(function(skill){ %>
                                <div style="border-radius: 5px;font-weight: 600;" class="py-2 bg-primary px-3">
                                    <%=skill%> <span class="px-2 fa-solid fa-times"
                                            onclick="removeSkill('<%=counter%>');"></span>
                                </div>
                                <%counter++;%>
                                    <% }); %>

                    </div>
                    <div class="d-flex flex-wrap w-100 my-5 gap-3">
                        <input type="text" class=" bg-primary w-100 p-1 text-black" style="width: 100px;height: auto;"
                            onchange="addSkill(this)" placeholder="Add Skill">
                    </div>
                </div>
            </div>
        </section>
        <section class="section3  d-flex flex-column align-items-center" id="projects" style="min-height: 100vh;">
            <div class="col-lg-8 col-12 px-md-5 px-lg-5 px-3" style="margin-top: 10vh;">
                <h1 class="my-3 text-center text-black" style="text-transform: uppercase;font-weight: 700;">PROJECTS</h1>
                <div class="d-flex justify-content-around">
                    <div style="border: 6px solid #FFD395;width: 50px;border-radius: 10px;"></div>
                </div>
                <div class="my-3 text-center" style="font-size: 1.25rem;">
                    <textarea
                        class="w-100 text-center  bg-primary text-black" onchange="updateProjectspageDescription(this)"
                        rows="3"><%= profiledata.projectspage_description %></textarea>
                    <!-- Explore a collection of personal projects that I've crafted. Each project is accompanied by its own case study, providing an in-depth look into its development process, challenges faced, and solutions implemented. -->
                </div>
            </div>
            <div class="col-12">
                <% for (let i = 0; i < projectsdetails.length; i++) { %>
                    <div class="container bg-tertiary d-flex flex-lg-row flex-sm-column flex-column my-5 px-lg-5 px-md-5 px-3 justify-content-between" style="border:1px solid rgba(0, 0, 0, 0.1);width: 95%;">
                        <div id='<%=projectsdetails[i]._id%>' class="col-lg-5 my-lg-5" style="background-image: url('../assets/project<%=(i+1)%>.webp');height: 40vh;background-position: center;background-size: contain;background-repeat: no-repeat;position: relative;">
                            <div style="position: absolute;right: 14px;bottom: 0px;">
                                <label class="bg-secondary px-5 py-2 mb-4" for="projectpic<%=i%>" style="font-weight: 700;color: black;">EDIT IMAGE <i class=" fa fa-pen"></i></label>
                                <input type="file" name="projectpic<%=i%>" id="projectpic<%=i%>" onchange="uploadProjectImage(this,'<%=projectsdetails[i]._id%>')" hidden>
                            </div>
                        </div>
                        <div class="col-lg-5 my-lg-5">
                            <h4 style="font-weight: 700;" class="text-black"><textarea
                                class="w-100 bg-primary text-black" onchange="updateProjectName('<%=projectsdetails[i]._id%>',this)"
                                rows="1"> <%=projectsdetails[i].project_name%></textarea></h4>
                            <div class="mt-3">
                                <textarea
                                class="w-100 bg-primary text-black" onchange="updateProjectDescription('<%=projectsdetails[i]._id%>',this)"
                                rows="4"><%=projectsdetails[i].project_description%></textarea>
                                
                            </div>
                            <div class="text-center">
                                <div class="my-5">
                                    <a href="/admin/dashboard/projectdetails/<%=projectsdetails[i]._id%>" target="_blank" class="btn text-tertiary btn-lg bg-secondary  px-4 py-2"
                                    style="font-weight: 700;box-shadow: 0 4px 8px rgba(255, 211, 149, 0.4);width: 100%;">Edit More</a>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex flex-column align-items-center gap-1">
                                    <h6><label  for="visiblity<%=i%>">Change Visibility:</label></h6>
                                    <select id="visiblity<%=i%>" onchange="changProjectVisiblity('<%=projectsdetails[i]._id%>',this)" class="btn text-tertiary btn-lg bg-secondary px-4 py-2"
                                    style="font-weight: 700;box-shadow: 0 4px 8px rgba(255, 211, 149, 0.4);width: 100%;">
                                    <% if(projectsdetails[i].visiblity==='public'){%>
                                    <option value="public" selected>PUBLIC</option>
                                    <option value="private">PRIVATE</option>
                                    <%} else { %>
                                    <option value="public">PUBLIC</option>
                                    <option value="private" selected>PRIVATE</option>
                                    <% } %>
                                    </select>
                                </div>
                            </div>
                            <%if(i>1){%>
                                <div class="mb-3">
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <button id="deleteproject<%=i%>" onclick="deleteProject('<%=projectsdetails[i]._id%>')" class="btn text-tertiary btn-lg bg-secondary px-4 py-2"
                                        style="font-weight: 700;box-shadow: 0 4px 8px rgba(255, 211, 149, 0.4);width: 100%;">Delete Project <i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                    </div>
                <% } %>
                <div  id="form" class="container bg-tertiary d-none flex-column my-5 px-lg-5 px-md-5 px-3 justify-content-around align-items-center" style="border:1px solid rgba(0, 0, 0, 0.1);width: 95%;">
                    <div  class=" col-lg-8 col-sm-11 col-11 px-md-5 bg-primary px-lg-5 px-3 my-5"
                    style="margin-top: 10vh;background-color: white;min-height:40vh;box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);border-radius: 10px;z-index: 999;">
                    <form id="project_form" class="d-block" method="post">
                        <h1 class="mt-4  text-black text-center">Add New Project</h1>
                        <div class="d-flex flex-column mt-4">
                            <label class="" for="project_image">Project Image</label>
                            <input required="" placeholder="Enter Project Name" type="file" class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="project_image" id="project_image">
                        </div>
                        <div class="d-flex flex-column mt-4">
                            <label class="" for="project_name">Project Name</label>
                            <input required="" placeholder="Enter Project Name" type="text" class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="project_name" id="project_name">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="project_type" for="project_type">Project Type</label>
                            <input required="" placeholder="Enter Project Type" type="text"
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="project_type" id="project_type">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="" for="project_description">Project Description</label>
                            <input required="" placeholder="Enter Project Description" type="text"
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="project_description" id="project_description">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="" for="projectspage_heading">Projectspage Heading</label>
                            <input required="" placeholder="Enter Projectspage Heading" type="text"
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="projectspage_heading" id="projectspage_heading">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="" for="projectspage_description">Projectspage Description</label>
                            <input required="" placeholder="Enter Projectspage Description" type="text"
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="projectspage_description" id="projectspage_description">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="" for="projectspage_overview">Projectspage Overview</label>
                            <input required="" placeholder="Enter Projectspage Overview" type="text"
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="projectspage_overview" id="projectspage_overview">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="" for="projectspage_features">Projectspage Features</label>
                            <input required="" placeholder="Use (, ) for new paragraph" type="text"
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="projectspage_features" id="projectspage_features">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="" for="techstack">Techstack</label>
                            <input required="" placeholder="Use (, ) new Tech" type="text"
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="techstack" id="techstack">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="" for="projectsource_link">Projectsource Link</label>
                            <input required="" placeholder="Enter Projectsource Link" type="url"
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="projectsource_link" id="projectsource_link">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="" for="project_link">Project Live Link</label>
                            <input required="" placeholder="Enter Live Link" type="url"
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="project_link" id="project_link">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="" for="developers">Developers</label>
                            <input required="" placeholder="Use (, ) anohter developer" type="text"
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="developers" id="developers">
                        </div>
                        <div class="d-flex flex-column my-4">
                            <label class="" for="visiblity">Project Visibility</label>
                            <select required=""
                                class="p-3 bg-primary text-white"
                                style="border-radius: 5px;border: 2px solid rgba(0, 0, 0, 0.1);" name="visiblity" id="visiblity">
                                <option value="public" selected>PUBLIC</option>
                                <option value="private">PRIVATE</option>
                            </select>
                        </div>
                        <div class="text-center my-5"><button type="submit"
                                class="btn btn-lg w-100 text-tertiary bg-secondary px-4 py-2"
                                style="font-weight: 700;box-shadow: 0 4px 8px rgba(255, 211, 149, 0.4);">Submit</button>
                        </div>
                    </form>
                    <div id="loader2" class="w-100 d-none justify-content-between align-items-center" style="height: 80vh;">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
            <div class="my-5 px-lg-5 px-md-5 px-3 container d-flex justify-content-around"><button style="font-weight: 700;" id="button" class="btn btn-lg px-4 py-2 text-tertiary bg-secondary col-lg-6 col-md-8 col-sm-10 col-12" type="button" id="addnewproject" onclick="showForm(this)"> Add New Project</button></div>    

        </section>
        <footer class="bg-tertiary" style="min-height: 40vh;">
            <div class="container" id="footer" >
                <div class="d-flex flex-lg-row flex-sm-column flex-column flex-sm-column-reverse flex-column-reverse py-5"
                    style="border-bottom: 1px solid #ccc;">
                    <div class="m-3 col-lg-8">
                        <h4 class="text-black">
                            <%= profiledata.name %>
                        </h4>
                        <div>
                            <textarea class="w-100 bg-primary text-black" onchange="updateFooterDescription(this)"
                                rows="3"><%= profiledata.footer_description %></textarea>
                        </div>
                    </div>
                    <div class="m-3 col-lg-4">
                        <h4 class="text-black">SOCIAL</h4>
                        <div class="gap-3">
                            <%var counter=0;%>
                                <% profiledata.links.forEach(function(link){ %>
                                    <div class="d-flex align-items-center">
                                        <input type="url" class="flex-grow-1 w-100 my-2 bg-primary text-black"
                                            style="width: 100px;height: auto;"
                                            onchange="updateLinks('<%=counter%>',this)" value="<%= link %>">
                                            <span class="px-2 fa-solid fa-trash"
                                            onclick="removeLink('<%=counter%>');"></span>
                                    </div>
                                    <%counter++;%>
                                        <% }); %>
                                            <div class="my-2 d-flex justify-content-around"><button target="_blank"
                                                    class="btn col-lg-8 col-md-8 col-sm-10 col-12 text-tertiary btn-lg bg-secondary px-4 py-2"
                                                    style="font-weight: 700;box-shadow: 0 4px 8px rgba(255, 211, 149, 0.4);" onclick="addNewLink()">Add
                                                    One More
                                                    Link</button>
                                            </div>

                        </div>
                    </div>
                </div>
                <div class="text-center my-3">
                    © Copyright 2024. Developed by <span class="text-black" style="text-decoration: underline;">
                        <input type="text" class=" bg-primary text-black" style="width: 100px;height: auto;"
                            onchange="updateFooterDeveloper(this)" value="<%= profiledata.developer %>">
                    </span>. Design Reference <a class="text-black" href="https://www.rammaheshwari.com/"
                        target="_blank" style="text-decoration: underline;">Link</a>
                </div>
            </div>
        </footer>
    </div>
    <div id="loader" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="loader"></div>
    </div>
    <script src="../../dashboard.js"></script>
    <script src="../../dashboardchanges.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
        integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>